<% layout('../../template') %>
<% stylesheet('https://cdn.datatables.net/1.10.13/css/dataTables.bootstrap4.min.css') %>
<% script('https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js') %>
<% script('/static/javascripts/system/jobs/index.js') %>

<div class="row">
    <div class="col-12">
        <h1>Job Übersicht</h1>
        <table id="dataTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
            <tr>
                <th>Job</th>
                <th></th>
            </tr>
            </thead>
        </table>
    </div>

</div>