body {
    padding-top: 4.5rem;
}

.floating_alert {
    position: fixed;
    top: 20px;
    left:40%;
    z-index: 5000;
}

table.dataTable tbody tr.selected{
    background-color: #B0BED9;
}

.box{
    border: solid #f7f7f9;
    border-width: 5px;
}