body {
    padding-top: 4.5rem;
}

.floating_alert {
    position: fixed;
    top: 20px;
    left:40%;
    z-index: 5000;
}

table.dataTable tbody tr.selected{
    background-color: #B0BED9;
}

.box{
    border: solid #949495;
    border-width: 2px;
    border-radius: 5px;
    margin-bottom: 0.5rem;
    padding: 5px;
}